@import "tailwindcss";

@font-face {
  font-family: 'SaolDisplay';
  src: url('/fonts/SaolDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SaolDisplay';
  src: url('/fonts/SaolDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-main-bg: #3f1827;
  --color-gold: #B68D57;
  --color-gold-light: #ECD4A6;

  --font-marcellus: var(--font-marcellus);
  --font-montserrat: var(--font-montserrat);
  --font-alex: var(--font-alex);
}

.font-saol {
  font-family: 'SaolDisplay', serif;
}

:root {
  --primary: #3f1827;
  --gold-gradient: linear-gradient(90deg, #B68D57 0%, #ECD4A6 100%);
}

body {
  background-color: var(--primary);
  color: white;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #3f1827;
}

::-webkit-scrollbar-thumb {
  background: #B68D57;
  border-radius: 4px;
}

.text-gold-gradient {
  background: var(--gold-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}